menu "Hardware Drivers Config"

config MCU_HC32L196
    bool
    select ARCH_ARM_CORTEX_M0
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

menu "Onboard Peripheral Drivers"
    config BSP_USING_FAL_ON_CHIP
        bool "Enable Fal on chip"
        select RT_USING_PIN
        default y
endmenu

menu "On-chip Peripheral Drivers"
    config BSP_USING_GPIO
        bool "Enable GPIO"
        select RT_USING_PIN
        default y

    menuconfig BSP_USING_UART
        bool "Enable UART"
        default y
        select RT_USING_SERIAL
        if BSP_USING_UART
            config BSP_USING_UART0
                bool "Enable UART0"
                default y

            config BSP_USING_UART1
                bool "Enable UART1"
                default n
        endif
    menuconfig BSP_USING_SOFT_SPI
        bool "Enable SOFT SPI"
        default y
        select RT_USING_SPI
        if BSP_USING_SOFT_SPI
            config BSP_USING_SOFT_SPI1
                bool "Enable SOFT SPI1"
                default y
                if BSP_USING_SOFT_SPI1
                    comment "Notice: PA0 --> 0; PA1--> 1; PA2 --> 2"
                    config BSP_S_SPI1_SCK_PIN
                        int "sspi1 SCL pin number"
                        range 0 79
                        default 0
                    config BSP_S_SPI1_MOSI_PIN
                        int "sspi1 MISO pin number"
                        range 0 79
                        default 2
                    config BSP_S_SPI1_MISO_PIN
                        int "sspi1 MOSI pin number"
                        range 1 79
                        default 1
                endif
            # config BSP_USING_SOFT_SPI2
            #     bool "Enable SOFT SPI2"
            #     default n
        endif

endmenu

# menu "Board extended module Drivers"

# endmenu

endmenu
