menu "Hardware Drivers Config"

    menu "On-chip Peripheral Drivers"
        config BSP_USING_HWTIMER0
            bool "Using timer0"
            select RT_USING_HWTIMER
            default n
        config BSP_USING_EEPROM_ONCHIP
            bool "Enable On-chip EEPROM"
            default n
            config BSP_USING_FAL_SAMPLE
                bool "Enable FAL for test"
                default n
        config BSP_USING_FLASH_ONCHIP
            bool "Enable On-chip Flash"
            default n
        config BSP_USING_ADC
            bool "Using ADC"
            select RT_USING_ADC
            default n
        config BSP_USING_I2C
            bool "Using I2C"
            select RT_USING_I2C
            default n
            if BSP_USING_I2C
            config BSP_USING_I2C0
                bool "Using I2C0"
                select RT_USING_I2C_BITOPS
                default n
                config BSP_USING_I2C1
                bool "Using I2C1"
                select RT_USING_I2C_BITOPS
                default n
            endif

        config BSP_USING_UART
            bool "Enable UART"
            select RT_USING_SERIAL
            default n
            if BSP_USING_UART
                config BSP_USING_UART0
                    bool "Enable UART0"
                    default y
                config BSP_USING_UART1
                    bool "Enable UART1"
                    default n
                config BSP_USING_UART2
                    bool "Enable UART2"
                    default n
                config BSP_USING_UART3
                    bool "Enable UART3"
                    default n
                config BSP_USING_UART4
                    bool "Enable UART4"
                    default n
           endif
    endmenu

    menu "Onboard Peripheral Drivers"

        config BSP_USING_SDRAM
            bool "Enable SDRAM"
            default n
        config BSP_USING_SPFI
            bool "Enable QSPI S25FL032"
            select RT_USING_FAL
            default n
        config BSP_USING_FM31XX
            bool "Enable Fm31xx(wdg e2prom RTC)"
            select RT_USING_RTC
            default n
            if BSP_USING_FM31XX
            config BSP_USING_FM31XX_SHELL
                bool "Enabel shell"
                default n

            config BSP_USING_WDT
                bool "Enabel watchdog"
                select RT_USING_WDT
                default n
            endif

        config BSP_USING_ADXL345
            bool "Enable ADXL345"
            default n
            config BSP_USING_ADXL345_SHELL
            bool "Enabel shell"
                depends on BSP_USING_ADXL345
            default n

        config BSP_USING_LCD
            bool "Enable LCD"
            default n
            if BSP_USING_LCD
                config BSP_LCD_WIDTH
                    int "screen width"
                    default 480
                config BSP_LCD_HEIGHT
                    int "screen height"
                    default 272
                config BSP_LCD_BPP
                int "color depth"
                default 16
            endif
        config BSP_USING_KEYIRD
            bool "Enable KeyIrd"
            default n

    endmenu

menu "Board extended module Drivers"
    config BSP_USING_EASYFLASH
        bool "Enable user easyFlash"
        select PKG_USING_EASYFLASH
        select RT_USING_FAL
        default n
    config BSP_USRING_FAL_NAME
        string "Fal name"
        depends on  BSP_USING_EASYFLASH
        default "easyflash"

    choice
        prompt "Board select "
        default BSP_USING_BOARD_9903Z1V2

        config BSP_USING_BOARD_9903Z1V2
        bool "9903Z1V2"
        config BSP_USING_BOARD_315101Z2V2
        bool "315101Z2V2"
    endchoice
        config BSP_USING_ADS1115
        bool "Enable ADS1115"
            depends on BSP_USING_BOARD_315101Z2V2
        default n
        config BSP_USING_ADS1115_SHELL
        bool "Enabel shell"
            depends on BSP_USING_ADS1115
        default n
endmenu

endmenu
